.TotalContact {
    margin: 50px;
    padding: 15px;
    z-index: 100;
}


.Contact-Page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}


.Horaire {
    padding: 10px;
    color: #F8FCDA;
    font-size: 30px;
    margin-top: 20px;
    text-align: center; 
    z-index: 100;
}

table {
    text-align: center;
}

iframe {
    width : 550px;
    height: 390px;
    z-index: 100;
}
